{
    "plugins": [
        "syntax-dynamic-import",
        [
            "prismjs",
            {
                "languages": [
                    "c",
                    "cpp",
                    "java",
                    "csharp",
                    "python",
                    "python",
                    "javascript",
                    "ruby",
                    "pascal"
                ],
                "plugins": [
                ],
                "css": true
            }
        ]]
}
