/node_modules
/public/packages/*
/public/hot
/public/storage
/public/css
/public/fonts
/public/js
/public/uploads/images
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
composer.phar
_ide_helper.php

